<div id="edit_form" class="container">
  <h2 class="text-center" style="margin-top: 100px;">Editar Cuenta</h2>
  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="row"> <!-- row -->
        <div class="field col-md-6">
          <%= f.text_field :name, autofocus: true, label: "Nombre"%>
        </div>

        <div class="field col-md-6">
          <%= f.text_field :last_name, label: "Apellido" %>
        </div>
    </div> <!-- /.row -->
    
    <div class="row"> <!-- row -->
      <div class="field col-md-4">    
        <%= f.select :document_type, ['CC', 'TI', 'CE', 'NIT'], label: "Tipo de Documento" %>
      </div>

      <div class="field col-md-4">
        <%= f.text_field :document_number, label: "Número del Documento" %>
      </div>

      <div class="field col-md-4">
        <%= f.date_field :birthday, label: "Fecha de Nacimiento" %>
      </div>
    </div>  <!-- /.row -->

    <div class="field">
      <%= f.email_field :email, label: "Correo Electrónico"%>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <% if @minimum_password_length %>
      <em>(Mínimo <%= @minimum_password_length %> carácteres)</em>
      <% end %><br />
      <i>Déjalo en blanco si no quieres cambiarla</i>
      <%= f.password_field :password, autocomplete: "off", label: "Contraseña" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", label: "Repita la Contraseña" %>
    </div>

    <div class="field">
      <i>(Es necesaria la contraseña actual para confirmar cambios)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", label: "Contraseña actual" %>
    </div>
 
    <div class="actions">
      <%= f.submit "Confirmar Cambios", class: "btn btn-warning btn-lg btn-block" %>
    </div>
  <% end %>
</div>
