<h1>Los más impresionantes cursos</h1>

<% @courses.each do |c| %>
	<%form_tag({controller: "course", action: "home"}, method: "get")%>
	<p><%= link_to c.name, "/course/#{c.id}" %>" Dar clic"</p>
	<p><%= c.description %></p>
	<p><%= c.price %></p>
	<p><%= c.category %></p>
	<%=link_to "Agregar curso al carrito", controller: 'cart', action: 'show', id: c.id%>
	<%=link_to "Editar el curso", controller: 'course', action: 'edit', id: c.id%>

<% end %>

