
<div class="container" id="course_form">
  <%= bootstrap_form_for(course) do |form| %>
    <% if course.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

        <ul>

        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.text_field :name, id: :course_name, label: "Nombre del Curso" %>
    </div>

    <div class="field">
      <%= form.text_area :description, id: :course_description, label: "Descripción" %>
    </div>

    <div class="field">
      <%= form.number_field :price, id: :course_price, label: "Precio" %>
    </div>

    <div class="field" style="margin-bottom: 50px;">
      <%= form.select :category, ['Matemáticas', 'Programación', 'Historia', 'Ciencias', 'Artes', 'Otros'] ,id: :course_category, label: "Categoría" %>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-lg btn-primary"%>
    </div>
  <% end %>
</div>
