
<!-- Header -->
<h1 class="upper-title text-center" style="background-color: #4286f4;color: #fff; margin-top: 40px; padding: 30px ">Cursos</h1>

<p id="notice"><%= notice %></p>
<!-- /Header -->

<div class="container text-center"> <!-- Main Course Container -->
  <div class="row"> <!-- Each Course -->
    <% @courses.each do |course| %> <!-- Iterating Over Each Course -->
    
    <div id="course" class="col-md-5">  <!-- Course Container -->
      <%= render 'category_color', course: course %> <!-- Course Header -->
      
      <img style="max-height: 200px; max-height: 250px; margin: auto;" class="img-responsive" src="/assets/rubbish.jpg" alt="Img-test"> <!-- Course Image -->
      
      <h4 style="margin: 10px 0;" class="text-muted">  <%= course.category %>  </h4> <!-- Course Category -->
      
      <!-- Course Description -->
      <% if course.description.length < 135  %> <!-- Limiting Course Length Description -->
        <p style="margin: 30px; font-size: 1.2em"><%= course.description %></p>
      <% else %>
        <p style="margin-top: 30px; font-size: 1.2em"><%= course.description[0..135] %>...[<span class="text-warning">Ver M치s Informaci칩n</span>]</p>
      <% end %>
      <!-- /Course Description -->

      <span class="text-primary" style="display: block; font-size: 1.2em">
        Price: <%= course.price %> 
      </span> <!-- Price -->
      
      <br>
      <%= link_to 'M치s Informaci칩n', course, class: "btn btn-primary btn-lg"%>     
    </div> <!-- Course Container -->
    
    <% end %> <!-- /Iterating Over Each Course -->
  </div>  <!-- Each Course -->
  <%= link_to 'New Course', new_course_path, class: "btn btn-success btn-lg btn-block" %>
</div> <!-- /Main Course Container -->

<br>


