<!-- Title (Change color depending of the category) -->
<% case @course.category %>
  <% when 'Matemáticas' %> 
    <h2 class="upper-title text-center course-title" style="background-color: #ff5e5e; margin-top: 40px;"><%= @course.name %></h2>
  <% when 'Historia' %> 
    <h2 class="upper-title text-center course-title" style="background-color: #20ffa9; margin-top: 40px;"><%= @course.name %></h2>
  <% when 'Programación' %> 
    <h2 class="upper-title text-center course-title" style="background-color: #282828; margin-top: 40px;"><%= @course.name %></h2>
  <% when 'Ciencias' %> 
    <h2 class="upper-title text-center course-title" style="background-color: #ffa959; margin-top: 40px;"><%= @course.name %></h2>
  <% when 'Artes' %> 
    <h2 class="upper-title text-center course-title" style="background-color: #4221ff; margin-top: 40px;"><%= @course.name %></h2>
  <% when 'Otros' %> 
    <h2 class="upper-title text-center course-title" style="background-color: #9e59ff; margin-top: 40px;"><%= @course.name %></h2>
<% end %>
<!-- /Title -->


<div class="container">


	
	<!-- Intro-Video -->
	<iframe class="embed-responsive-item center-block" style="margin-bottom: 50px" width="660" height="415" src="https://www.youtube.com/embed/di60mvq5ImA" frameborder="0" allowfullscreen></iframe>
	<!-- /Intro-Video -->
	
	<!-- Description -->
	<h2 class="upper-title text-center">Detalles</h2>
	<p class="text-center" style="margin-bottom: 50px; font-size: 1.3em">
	  <%= @course.description %>
	</p>
	<!-- /Description -->
	
	<!-- More Info -->
	<button style="width: 70%" type="button" class="btn btn-lg btn-primary center-block text-center" data-toggle="collapse" href="#interested" aria-expanded="false" aria-controls="interested">¿Interesado?</button>

	<div class="collapse" id="interested">
	  <div class="well">
			<h3 class="text-center">
			  <span class="text-primary">Price:
			  <%= @course.price %> </span>
			</h3>
			
			<%= button_to "Cancel Return", { :controller => "carts", :action => "create"}, params: { course_id: @course.id } %>
			
			<button style="margin-top: 50px auto 0" type="button" class="btn btn-lg btn-success center-block text-center">¡Añadir al Carrito!</button>
	  </div>
	</div>
	<!-- /More Info -->

<!-- 	<p>
	  <strong>Category:</strong>
	  <%= @course.category %>
	</p> -->
	

	<!-- Edit and Back (Edit only for admins) -->
	<div style="width: 50%; margin: 100px auto 0">
	 
	  <% #if current_user && current_user.admin? %>	
	  	<%= link_to 'Editar Curso', edit_course_path(@course), class: "btn btn-lg btn-warning center-block text-center" %>
	  	<%= link_to 'Eliminar Curso', @course, method: :delete, data: { confirm: '¿Estás Seguro?' }, class: "btn btn-lg btn-danger center-block text-center" %>   
		<% #end %>
		
		<%= link_to 'Back', courses_path, class: "btn btn-lg btn-default center-block text-center"%>
	</div>
	<p id="notice"><%= notice %></p>

</div>